{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Тест{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/apex-charts/apex-charts.css' %}"/>
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}"/>
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}"/>
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}"/>
  <link rel="stylesheet" href="{% static 'vendor/libs/bootstrap-select/bootstrap-select.css' %}"/>
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/apex-charts/apexcharts.js' %}"></script>
  <script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
  <script src="{% static 'vendor/libs/bootstrap-select/bootstrap-select.js' %}"></script>
{% endblock vendor_js %}

{% block page_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/css/pages/app-logistics-dashboard.css' %}"/>
{% endblock page_css %}

{% block page_js %}
  {{ block.super }}
  <script src="{% static 'js/forms-selects.js' %}"></script>
{% endblock page_js %}


{% block content %}

  <form method="get">
    <div class="col-md-6 mb-6">
      <div class="form-floating form-floating-outline">
        <label for="year">Год:</label>
        <select id="year" name="year" multiple class="selectpicker w-100" data-style="btn-default"
                data-actions-box="true">
          {% for y in years %}
            <option value="{{ y }}" {% if y in year %}selected{% endif %}>{{ y }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="col-md-6 mb-6">
      <div class="form-floating form-floating-outline">
        <label for="month">Месяц:</label>
        <select id="month" name="month" multiple class="selectpicker w-100" data-style="btn-default"
                data-actions-box="true">
          {% for m, month_name in months %}
            <option value="{{ m }}" {% if m in month %}selected{% endif %}>{{ month_name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="col-md-6 mb-6">
      <div class="form-floating form-floating-outline">
        <label for="segment">Сегмент:</label>
        <select id="segment" name="segment" multiple class="selectpicker w-100" data-style="btn-default"
                data-actions-box="true">
          {% for seg in segments %}
            <option value="{{ seg }}" {% if seg in segment %}selected{% endif %}>{{ seg }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="col-md-6 mb-6">
      <div class="form-floating form-floating-outline">
        <label for="site">Сайт:</label>
        <select id="site" name="site" multiple class="selectpicker w-100" data-style="btn-default"
                data-actions-box="true">
          {% for s in sites %}
            <option value="{{ s }}" {% if s in site %}selected{% endif %}>{{ s }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Фильтр</button>
  </form>

  <h1>Список отчетов</h1>


  {% if reports %}
    <div class="card">
      <h5 class="card-header">Лиды и клики</h5>
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
          <tr>
            <th>Сайт</th>
            <th>Сегмент</th>
            <th>Клики</th>
            <th>Кол-во Лидов</th>
            <th>Кол-во некач. Лидов</th>

          </tr>
          </thead>
          <tbody class="table-border-bottom-0">
          {% for report in reports %}
            <tr>
              <td>{{ report.site }}</td>
              <td>{{ report.segment }}</td>
              <td>{{ report.clicks }}</td>
              <td>{{ report.leads }}</td>
              <td>{{ report.unqualified_leads }}</td>
            </tr>
          {% endfor %}
          <tr>
            <td colspan="2"><strong>Итого</strong></td>
            <td><strong>{{ total_clicks }}</strong></td>
            <td><strong>{{ total_leads }}</strong></td>
            <td><strong>{{ total_unqualified_leads }}</strong></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card">
      <h5 class="card-header">Сделки</h5>
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
          <tr>
            <th>Сайт</th>
            <th>Сегмент</th>
            <th>Кол-во Сделок</th>
            <th>Кол-во Сделок качественных</th>
            <th>Кол-во проваленных Сделок</th>
            <th>Кол-во проваленных Сделок по причине игнор дел</th>


          </tr>
          </thead>
          <tbody>
          {% for report in reports %}
            <tr>
              <td>{{ report.site }}</td>
              <td>{{ report.segment }}</td>
              <td>{{ report.deals }}</td>
              <td>{{ report.qualified_deals }}</td>
              <td>{{ report.failed_deals }}</td>
              <td>{{ report.ignored_failed_deals }}</td>


            </tr>
          {% endfor %}
          <tr>
            <td colspan="2"><strong>Итого</strong></td>
            <td><strong>{{ total_deals }}</strong></td>
            <td><strong>{{ total_qualified_deals }}</strong></td>
            <td><strong>{{ total_failed_deals }}</strong></td>
            <td><strong>{{ total_ignored_failed_deals }}</strong></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card">
      <h5 class="card-header">Конверсии</h5>
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
          <tr>
            <th>Сайт</th>
            <th>Сегмент</th>
            <th>CR% Кликов в Лиды</th>
            <th>CR% Лидов в Сделки</th>
            <th>CR% некач. Лидов</th>
            <th>% конверсии Обращений в Сделку качественную</th>
            <th>% конверсии в Сделку качественную (после стадии "Встреча")</th>
            <th>% провала Сделки</th>
            <th>% провала Сделок по причине игнор дел</th>

          </tr>
          </thead>
          <tbody>
          {% for report in reports %}
            <tr>
              <td>{{ report.site }}</td>
              <td>{{ report.segment }}</td>
              <td>{{ report.cr_clicks_to_leads|default:"Н/Д" }}</td>
              <td>{{ report.cr_leads_to_deals|default:"Н/Д" }}</td>
              <td>{{ report.cr_non_quality|default:"Н/Д" }}</td>
              <td>{{ report.conversion_leads_to_quality|default:"Н/Д" }}</td>
              <td>{{ report.conversion_meetings_to_quality|default:"Н/Д" }}</td>
              <td>{{ report.deals_failure_rate|default:"Н/Д" }}</td>
              <td>{{ report.deals_failure_due_to_ignored|default:"Н/Д" }}</td>
            </tr>
          {% endfor %}
          <tr>
            <td colspan="2"><strong>Итого</strong></td>
            <td><strong>{{ conversion_rate_clicks_to_leads|default:"Н/Д" }}</strong></td>
            <td><strong>{{ conversion_rate_leads_to_deals|default:"Н/Д" }}</strong></td>
            <td><strong>{{ conversion_rate_unqualified|default:"Н/Д" }}</strong></td>
            <td><strong>{{ conversion_rate_qualified_leds_to_deals|default:"Н/Д" }}</strong></td>
            <td><strong>{{ conversion_rate_qualified_deals|default:"Н/Д" }}</strong></td>
            <td><strong>{{ conversion_rate_failed_deals|default:"Н/Д" }}</strong></td>
            <td><strong>{{ conversion_rate_ignored_failed_deals|default:"Н/Д" }}</strong></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card">
      <h5 class="card-header">Финансовые показатели</h5>
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
          <tr>
            <th>Сайт</th>
            <th>Сегмент</th>
            <th>Бюджет</th>
            <th>Выручка</th>
            <th>CPA Лид</th>
            <th>CPA Сделка</th>
            <th>CPA выигранной Сделки</th>
            <th>Средний чек</th>
            <th>Потери прямые по причине игнора дел</th>
            <th>Упущенная прибыль</th>
            <th>ROI %</th>

          </tr>
          </thead>
          <tbody>
          {% for report in reports %}
            <tr>
              <td>{{ report.site }}</td>
              <td>{{ report.segment }}</td>
              <td>{{ report.budget }}</td>
              <td>{{ report.revenue }}</td>
              <td>{{ report.cpa_lead|default:"Н/Д" }}</td>
              <td>{{ report.cpa_deal|default:"Н/Д" }}</td>
              <td>{{ report.cpa_won|default:"Н/Д" }}</td>
              <td>{{ report.avg_check|default:"Н/Д" }}</td>
              <td>{{ report.direct_losses_ignored|default:"Н/Д" }}</td>
              <td>{{ report.missed_profit|default:"Н/Д" }}</td>
              <td>{{ report.roi|default:"Н/Д" }}</td>
            </tr>
          {% endfor %}
          <tr>
            <td colspan="2"><strong>Итого</strong></td>
            <td><strong>{{ total_budget }}</strong></td>
            <td><strong>{{ total_revenue }}</strong></td>
            <td><strong>{{ avg_cpa_lead|default:"Н/Д" }}</strong></td>
            <td><strong>{{ avg_cpa_deal|default:"Н/Д" }}</strong></td>
            <td><strong>{{ avg_cpa_won_deal|default:"Н/Д" }}</strong></td>
            <td><strong>{{ revenue_per_qualified_deal|default:"Н/Д" }}</strong></td>
            <td><strong>{{ direct_losses_ignored|default:"Н/Д" }}</strong></td>
            <td><strong>{{ missed_profit|default:"Н/Д" }}</strong></td>
            <td><strong>{{ roi|default:"Н/Д" }}</strong></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  {% else %}
    <p>Нет доступных отчетов.</p>
  {% endif %}
{% endblock %}
